extends layout/base

block vars
  - var title = 'Home'

block body
  .container.index
    h1.text-center LogBook
    .row
      .col-xs-12.col-md-offset-2.col-md-8
        .jumbotron.text-justify
          p.
            LogBook is an online climbing log book.
          p.
            Here is some other test stuff.
          a(href="/about") About LogBook
